<?xml version="1.0" encoding="utf-8"?>
<root>

	<!--*********基本类型*********** -->
	<package pkgName="game.view.viewBase" />
	<extends>
		<field name="game.view.BaseView" type="base" />
	</extends>
	
	<component pkgName="">
		<field name="name" label="name" type="string" value="" />
		<field name="x" label="x" type="string" value="" />
		<field name="y" label="y" type="string" value="" />
		<field name="width" label="width" type="int" value="" />
		<field name="height" label="height" type="int" value="" />
	</component>

	<com pkgName="com.image" classType="Image" type="img">
		<field name="touchable" type="bool" value="false" />
	</com>
	
	<com pkgName="com.btn" classType="Button" type="btn">
		<field name="touchable" type="bool" value="false" />
	</com>



	<!--*********资源丢失处理*********** -->
	<miss>
		<field name="替换资源" label="替换资源" type="string" value="" />
	</miss>
	<!--*********资源丢失处理********** -->

	<!--*********选中所有*********** -->
	<selectAll>
		<field name="x" label="x" type="string" value="" />
		<field name="y" label="y" type="string" value="" />
	</selectAll>
	<!--*********选中所有*********** -->
</root>